* {
    box-sizing: border-box;
    margin: 0;
  }
  
  .background {
    background-image: url(images/ina7.jpg);
    background-position: center;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .calculator {
    background-color: black;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    border: solid 1px #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-top: 40px;
  }
  
  #result{
     background-color: #E1D8EF;
      width: 100%;
      padding: 10px;
      font-size: 24px;
      border: none;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset;
      border-radius: 5px;
  }
  
  .buttons{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
      margin-top: 20px;
  }
  
  button{
      padding: 10px;
      font-size: 24px;
      border: none;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
  }
  
  button:hover{
      background-color: #F29A30;
  }
  
  .clear{
      background-color: #81689D;
      color: #fff;
  }
  
  .number, .decimal{
      background-color: #81689D;
      color: #333;
  
  }
  
  .operator{
      background-color: #81689D;
      color: #fff;
  }
  
  .equals{
      background-color: #81689D;
      grid-row: span 3;
      color: #fff;
  }